#kanban {width: 100%;}
#unstaffed-requests { width: 17%; background-color: #E6E6FF; }
#selected-requests { width: 17%; background-color: #E6E6FF; }
#staffed-requests { width: 62%; background-color: #FFFFCC; }
#finished-requests { width: 17%; background-color: #C2C29B; }

#incoming {min-height: 200px;}
#backlog { }
#staffed-requests .user { width: 10%;}
#staffed-requests .active { width: 29%;}
#staffed-requests .testing { width: 29%;}
#staffed-requests .finished { width: 29%;}

.column { min-height: 600px; float:left; border: 2px solid #333333; padding: 5px;}
.staff { border: 2px solid #333333; padding: 5px; min-height: 60px; }
.staffed-column { float:left; }
.active-header { width:33%; display: inline;}
.active-header h3 { display:inline }

.pane { }

#staffed-requests .column { padding: 0; }
#staffed-requests-header { min-height: 1.5em; border: none; text-align: center;}

div.pane ol { list-style: none; padding-left: 0px; }
div.pane ol li { padding: 1px 0; }
div.pane ol li:hover { background-color:#ffffdd; }
div.pane li.over-limit { background-color: #ffb4b4; }
div.pane li.over-limit:hover { background-color: #ffd4d4; }

#backlog-issues p, #quick-issues p {margin: 0; font-weight: bold; }
ol#backlog-issues ol, ol#quick-issues ol { padding-left: 15px; margin-bottom: 15px;}

/* Issue rows */
li.issue { cursor: move; }
li.issue.assigned-to-me { font-weight: bolder;}
li.issue.assigned-to-other { color: #888888; }

.drop-accepted { background-color:#FFFFEE; height: 32px; width: 100%; border: 1px solid #000000; }
.general-help {font-size: 90%; font-style: italic;}
