#kanban {width: 100%;}
#unstaffed-requests { width: 17%; background-color: #E6E6FF; }
#selected-requests { width: 17%; background-color: #E6E6FF; }
#staffed-requests { width: 44%; background-color: #FFFFCC; }
#finished-requests { width: 17%; background-color: #C2C29B; }

#incoming {min-height: 200px;}
#backlog { }
#staffed-requests #user { width: 25%;}
#staffed-requests #active { width: 33%;}
#staffed-requests #testing { width: 33%;}

.column { min-height: 600px; float:left; border: 2px solid #333333; padding: 5px;}
.pane { }

#staffed-requests .column { padding: 0; }

div.pane ol { list-style: none; padding-left: 0px; }
div.pane ol li { padding: 1px 0; }
div.pane ol li:hover { background-color:#ffffdd; }

/* Issue rows */
li.issue { cursor: move; }
