/* Variables */
$issue-background-color: #FFFFDD;
$over-limit-color: #eeeeee;
$behind-schedule-color: #f66914;
$overdue-color: #f00;
$assigned-to-me-color: #dcf8df;

/* My Kanban colors */
$finished-pane-color: #94bd5e;
$canceled-pane-color: #ffffff;
$testing-pane-color: #eb613d;
$active-pane-color: #ffcc99;
$selected-pane-color: #ffff99;
$backlog-pane-color: #ccffff;
$incoming-pane-color: #99ccff;

/* Equal height columns using margin-bottom: http://www.ejeliot.com/blog/61 */
/* Uses the child element of '.equal-column' */
@mixin equal-column-hack {
   overflow: hidden;    /* Equal height column hack */

   .equal-column {
      /* Used to hack the equal height columns*/
      margin-bottom: -1000px;
      padding-bottom: 1000px;
      /* end hack */
   }
}

@mixin standard-border {
   border-width: 2px;
   border-color: #333333;
   border-style: solid;
}

#kanban {width: 100%;}
#unstaffed-requests { background-color: #F7F7FF; }
#selected-requests { background-color: #F7F7FF; }
#staffed-requests { background-color: #FFFFEF; }

#incoming {min-height: 200px;}
#backlog { }
#staffed-requests { padding: 0; }
#staffed-requests .user { font-weight: bold; }
#staffed-requests .active { }
#staffed-requests .testing { }
#staffed-requests .finished { }
#staffed-requests .canceled { }

.column { min-height: 600px; float:left; margin-left:-2px; border: 2px solid #333333; padding: 5px;}
.staff { border-top: 2px solid #333333; padding: 5px; min-height: 60px; }
.staffed-column { float:left; }
.active-header { width:33%; display: inline;}
.active-header h3 { display:inline }

.pane { }

#staffed-requests .column { padding: 0; }
#staffed-requests-header { border: none; min-height:0; text-align: center;}
#staffed-requests ol { width:96%; }

div.pane ol { margin:0 0 10px; list-style: none; padding-left: 0px; min-height:30px; }
div.pane ol li { padding: 0; }

#backlog-issues p, #quick-issues p {margin: 0; font-weight: bold; }
ol#backlog-issues ol, ol#quick-issues ol { padding-left: 15px; margin-bottom: 15px;}

/* Issue rows */
li.issue { cursor: move; border:1px dashed #ccc; margin:3px 3px 5px 3px; background-color: $issue-background-color;}
li.issue .issue-details-body { padding: 3px 3px; font-size: smaller; }
li.issue .issue-details-header {padding: 1px 3px; border-bottom:1px solid #ccc;}

/* Subtasks */
li.issue.parent-issue .issue-details-header { font-weight: bold; }

/* over WIP limit */
li.issue.over-limit { background-color: $over-limit-color; }
li.issue.over-limit .issue-details-header { background-color: darken($over-limit-color, 7%) }

/* Assignments */ 
li.issue.assigned-to-other { }
li.issue.assigned-to-other .issue-details-header { }
li.issue.assigned-to-other .issue-details {  }
li.issue.assigned-to-me {  }
li.issue.assigned-to-me .issue-details-header { background-color: $assigned-to-me-color; } /* based on #a2eeac */
li.issue.assigned-to-me .issue-details-body { }

/* behind schedule */
li.issue.issue-behind-schedule .issue-details-header {background-color: $behind-schedule-color; color: #FFFFFF}
li.issue.issue-behind-schedule .issue-details-header a {color: #FFFFFF}

/* overdue issues */ 
li.issue.issue-overdue .issue-details-header {background-color: $overdue-color;}

/* END Issue rows */

div.icons {display: inline; position: relative;}
div.icons .updated-note {position: absolute; left: -16px; top: -8px; } /* Allow updated-notes to stack on icons */

.drop-accepted { background-color:#FFFFEE; height: 32px; margin-bottom:5px; border: 1px dashed #000000; }
.general-help {font-size: 90%; font-style: italic;}

#color-help {
   .normal-color span { background-color: $issue-background-color; }
   .assigned-to-me-color span { background-color: $assigned-to-me-color; }
   .behind-schedule-color span { background-color: $behind-schedule-color; }
   .overdue-color span { background-color: $overdue-color; }
   .over-wip-color span { background-color: $over-limit-color; }
   .parent-issue-color span { font-weight: bold; }
}

.icon-info  { background-image: url(../images/information.png); }

/* Popup dialog */
.short-scroll { max-height: 200px; overflow-y: scroll; }

/**** My Kanban requests ****/
.horizontal-lane { min-height: 100px; clear:left;}
.kanban-headers {
   min-height: 36px;
   div.pane { min-height: 36px; }
   h3  {float:left;}
}

.horizontal-lane .pane, .project-lane div.project {display: inline; float: left; min-height: 100px; }
#new-requests {float: right; left: 0; position: relative; width: 19%;}

.vertical-lane {padding: 0;}
.kanban-header h3, .inner-pane h3 { border: none; text-align: center; width: 100%; }
.vertical-lane .kanban-headers {border-bottom-width: 2px; border-bottom-style: solid; padding: 2px; }

.project-lane {
   div.project div.inner-pane { padding: 10px 0; }
   div.project div.inner-pane h3 { text-align: center; }

   .pane { border-left: 1px solid #333333;}
   .project-name { padding: 0px 3px; }
}
#new-requests { 
   @include standard-border;

   .pane {
      border: none;
   }
}

.user-kanban {

   @include equal-column-hack;

   .pane {
      @include standard-border;
   }
   
   .pane.testing {
      background-color: $testing-pane-color;
   }

   .pane.finished {
      background-color: $finished-pane-color;
   }

   .pane.canceled {
      background-color: $canceled-pane-color;
   }

   .pane.active {
      background-color: $active-pane-color;
   }

   .pane.selected {
      background-color: $selected-pane-color;
   }

   .pane.backlog {
      background-color: $backlog-pane-color;
   }

   .pane.incoming {
      background-color: $incoming-pane-color;
   }

   
   .inner-pane {
      @include equal-column-hack;

      .pane {
         border: none;
      }
   }

   li.issue {
      cursor: auto;
   }
}
