#kanban {width: 100%;}
#unstaffed-requests { background-color: #F7F7FF; }
#selected-requests { background-color: #F7F7FF; }
#staffed-requests { background-color: #FFFFEF; }

#incoming {min-height: 200px;}
#backlog { }
#staffed-requests { padding: 0; }
#staffed-requests .user { font-weight: bold; }
#staffed-requests .active { }
#staffed-requests .testing { }
#staffed-requests .finished { }
#staffed-requests .canceled { }

.column { min-height: 600px; float:left; margin-left:-2px; border: 2px solid #333333; padding: 5px;}
.staff { border-top: 2px solid #333333; padding: 5px; min-height: 60px; }
.staffed-column { float:left; }
.active-header { width:33%; display: inline;}
.active-header h3 { display:inline }

.pane { }

#staffed-requests .column { padding: 0; }
#staffed-requests-header { border: none; min-height:0; text-align: center;}
#staffed-requests ol { width:96%; }

div.pane ol { margin:0 0 10px; list-style: none; padding-left: 0px; min-height:30px; }
div.pane ol li { padding: 0; }
div.pane li.over-limit { background-color: #ffe7e7; }
div.pane li.over-limit .issue-details-header { background-color: #ffd6d6; }

#backlog-issues p, #quick-issues p {margin: 0; font-weight: bold; }
ol#backlog-issues ol, ol#quick-issues ol { padding-left: 15px; margin-bottom: 15px;}

/* Issue rows */
li.issue { cursor: move; border:1px dashed #ccc; margin-bottom:5px; background-color: #FFFFDD;}
li.issue .issue-details-body { padding: 3px 3px; font-size: smaller; }
li.issue .issue-details-header {padding: 1px 3px; border-bottom:1px solid #ccc;}

li.issue.assigned-to-other { }
li.issue.assigned-to-other .issue-details-header { }
li.issue.assigned-to-other .issue-details {  }

/* based on #a2eeac */
li.issue.assigned-to-me {  }
li.issue.assigned-to-me .issue-details-header { background-color:#dcf8df; }
li.issue.assigned-to-me .issue-details-body { }

/* Overdue and behind schedule */
li.issue.issue-behind-schedule .issue-details-header {background-color: #f66914; color: #FFFFFF}
li.issue.issue-behind-schedule .issue-details-header a {color: #FFFFFF}
li.issue.issue-overdue .issue-details-header {background-color: #f00;}

div.icons {display: inline;}

.drop-accepted { background-color:#FFFFEE; height: 32px; margin-bottom:5px; border: 1px dashed #000000; }
.general-help {font-size: 90%; font-style: italic;}

#color-help .normal-color span { background-color: #FFFFDD; }
#color-help .assigned-to-me-color span { background-color: #dcf8df; }
#color-help .behind-schedule-color span { background-color: #f66914; }
#color-help .overdue-color span { background-color: #f00; }
#color-help .over-wip-color span { background-color: #ffd6d6; }

.icon-info  { background-image: url(../images/information.png); }
