  <div class="staff">
    <div id="user" class="staffed-column pane">
      <%= h user.name %>
    </div>
    <div id="active" class="staffed-column pane user-<%= h user.id -%>">
      <%= render(:partial => 'active', :locals => {:user => user}) %>
    </div>
    <div id="testing" class="staffed-column pane">
      TODO
    </div>
    <div style="clear:both"></div>
  </div>
