<h2><%= l(:kanban_title) %></h2>

<div id="kanban">
  <div id="unstaffed-requests"></div>
  <div id="selected-requests"></div>
  <div id="staffed-requests"></div>
  <div id="finished-requests"></div>
</div>
